.name{
    font-size: 45px;
    font-family: cursive;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px;
    border-style: solid;
    border-block-width: 5px;
    background-color: rgb(157, 207, 188);
    width: 100%;
    border-radius: 10px 10px;
}
.sub{
    right: 20px;
    margin-top: -50px;
    font-size: 15px;
    text-align: right; 
    position: fixed;
    border-style: dotted;
    border-width: 5px;
    background-color: yellow ;
    
}    

.top-list{
    display: inline-block;
}
    
body{
    background-image: url(../assets/images/ps5.jpg);
    width: 95%; 

     
}
 body p{
   
     text-indent: 20px;
     font-size: 20px;
 }
.head{
   
    padding: 10px;
    margin: 10px; 
    font-size: 28px;
    background-color: rgb(247, 240, 205);
    width:fit-content;
    margin-left: -9px;
    margin-top: -9px;
    display: inline-block;
}
.app{
    padding: 10px;
    margin: 10px; 
    font-size: 28px;
    background-color: rgb(247, 240, 205);
    width:fit-content;
    margin-right: 0px;
}


.info{
    background-color: rgb(155, 194, 245);

    width: 90%;
    margin-left: 10px;  
    margin: 20px;
    padding: 10px;
}
.pic{
    max-width: 200px;
    text-align: justify;
    padding: 5px;
    margin: 5px;
    max-height: 175px;

}
   
.end-page{
    margin-top: 10px;
    background-color: darkgreen;
    width: 95%;
   
    
} 